# 1) Data Extraction

In [1]:
import numpy as np
import pandas as pd
from yaml import safe_load
import os
from tqdm import tqdm

In [9]:
filenames = []
for file in os.listdir('t20s'):
    filenames.append(os.path.join('t20s',file))

In [10]:
filenames[0:5]

['t20s\\1001349.yaml',
 't20s\\1001351.yaml',
 't20s\\1001353.yaml',
 't20s\\1004729.yaml',
 't20s\\1007655.yaml']

In [11]:
final_df = pd.DataFrame()
counter = 1
for file in tqdm(filenames):
    with open(file, 'r') as f:
        df = pd.json_normalize(safe_load(f))
        df['match_id'] = counter
        final_df = pd.concat([final_df, df], ignore_index=True)
        counter+=1
        
final_df

100%|█████████▉| 4221/4222 [1:44:31<00:01,  1.49s/it]

NotImplementedError:

In [12]:
final_df

,innings,meta.data_version,meta.created,meta.revision,info.balls_per_over,info.dates,info.gender,info.match_type,info.outcome.by.wickets,info.outcome.winner,...,info.registry.people.Muhammad Kaleem,info.registry.people.Usman Mushtaq,info.registry.people.Mohammad Shahid,info.registry.people.Muktar Ali,info.registry.people.Mohammad Usman,info.registry.people.VS Wategaonkar,info.registry.people.Farhan Ahmed,info.registry.people.Khurram Manzoor,info.registry.people.P Negi,info.registry.people.Hafiz Qaleem
0,"[{'1st innings': {'team': 'Australia', 'delive...",0.91,2017-02-18,2,6,[2017-02-17],male,T20,5.0,Sri Lanka,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,"[{'1st innings': {'team': 'Australia', 'delive...",0.91,2017-02-19,2,6,[2017-02-19],male,T20,2.0,Sri Lanka,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,"[{'1st innings': {'team': 'Australia', 'delive...",0.91,2017-02-23,1,6,[2017-02-22],male,T20,NaN,Australia,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,"[{'1st innings': {'team': 'Hong Kong', 'delive...",0.91,2016-09-12,1,6,[2016-09-05],male,T20,NaN,Hong Kong,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,"[{'1st innings': {'team': 'Zimbabwe', 'deliver...",0.91,2016-06-19,1,6,[2016-06-18],male,T20,NaN,Zimbabwe,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4216,"[{'1st innings': {'team': 'Sri Lanka', 'delive...",0.91,2016-03-05,2,6,[2016-03-04],male,T20,6.0,Pakistan,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4217,"[{'1st innings': {'team': 'Bangladesh', 'deliv...",0.91,2016-03-08,1,6,[2016-03-06],male,T20,8.0,India,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4218,"[{'1st innings': {'team': 'Netherlands', 'deli...",0.91,2016-02-03,1,6,[2016-02-03],male,T20,NaN,Netherlands,...,NaN,NaN,NaN,NaN,cee89f44,NaN,927694f7,NaN,NaN,f566cd7d
4219,"[{'1st innings': {'team': 'Australia', 'delive...",0.91,2016-09-12,1,6,[2016-09-06],male,T20,NaN,Australia,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4220,"[{'1st innings': {'team': 'Sri Lanka', 'delive...",0.91,2016-09-12,1,6,[2016-09-09],male,T20,4.0,Australia,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# 2) Data Cleaning, Feature Extraction, and Feature Engineering

In [13]:
final_df = final_df[['innings','info.dates','info.gender','info.match_type','info.outcome.winner','info.overs','info.player_of_match','info.teams','info.toss.decision','info.toss.winner','info.umpires','info.venue','match_id','info.city']]

In [6]:
# final_df.to_csv('final_df.csv', index=False)

In [7]:
# final_df = pd.read_csv('final_df.csv')

In [14]:
final_df

,innings,info.dates,info.gender,info.match_type,info.outcome.winner,info.overs,info.player_of_match,info.teams,info.toss.decision,info.toss.winner,info.umpires,info.venue,match_id,info.city
0,"[{'1st innings': {'team': 'Australia', 'delive...",[2017-02-17],male,T20,Sri Lanka,20,[DAS Gunaratne],"[Australia, Sri Lanka]",field,Sri Lanka,"[MD Martell, P Wilson]",Melbourne Cricket Ground,1,NaN
1,"[{'1st innings': {'team': 'Australia', 'delive...",[2017-02-19],male,T20,Sri Lanka,20,[DAS Gunaratne],"[Australia, Sri Lanka]",field,Sri Lanka,"[SD Fry, SJ Nogajski]","Simonds Stadium, South Geelong",2,Victoria
2,"[{'1st innings': {'team': 'Australia', 'delive...",[2017-02-22],male,T20,Australia,20,[A Zampa],"[Australia, Sri Lanka]",field,Sri Lanka,"[MD Martell, P Wilson]",Adelaide Oval,3,NaN
3,"[{'1st innings': {'team': 'Hong Kong', 'delive...",[2016-09-05],male,T20,Hong Kong,20,NaN,"[Ireland, Hong Kong]",bat,Hong Kong,"[R Black, AJ Neill]","Bready Cricket Club, Magheramason",4,Londonderry
4,"[{'1st innings': {'team': 'Zimbabwe', 'deliver...",[2016-06-18],male,T20,Zimbabwe,20,[E Chigumbura],"[Zimbabwe, India]",field,India,"[TJ Matibiri, RB Tiffin]",Harare Sports Club,5,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4216,"[{'1st innings': {'team': 'Sri Lanka', 'delive...",[2016-03-04],male,T20,Pakistan,20,[Umar Akmal],"[Pakistan, Sri Lanka]",field,Pakistan,"[AK Chaudhary, Enamul Haque]",Shere Bangla National Stadium,4217,Mirpur
4217,"[{'1st innings': {'team': 'Bangladesh', 'deliv...",[2016-03-06],male,T20,India,20,[S Dhawan],"[Bangladesh, India]",field,India,"[RSA Palliyaguruge, Shozab Raza]",Shere Bangla National Stadium,4218,Mirpur
4218,"[{'1st innings': {'team': 'Netherlands', 'deli...",[2016-02-03],male,T20,Netherlands,20,[Mudassar Bukhari],"[United Arab Emirates, Netherlands]",field,United Arab Emirates,"[CK Nandan, Sarika Prasad]",ICC Academy,4219,Dubai
4219,"[{'1st innings': {'team': 'Australia', 'delive...",[2016-09-06],male,T20,Australia,20,[GJ Maxwell],"[Sri Lanka, Australia]",field,Sri Lanka,"[REJ Martinesz, RR Wimalasiri]",Pallekele International Cricket Stadium,4220,NaN
4220,"[{'1st innings': {'team': 'Sri Lanka', 'delive...",[2016-09-09],male,T20,Australia,20,[GJ Maxwell],"[Sri Lanka, Australia]",bat,Sri Lanka,"[REJ Martinesz, RSA Palliyaguruge]",R Premadasa Stadium,4221,Colombo

In [15]:
final_df['info.gender'].value_counts()

info.gender
male      2696
female    1525
Name: count, dtype: int64

In [16]:
final_df = final_df[final_df['info.gender'] == 'male']
final_df.drop(columns=['info.gender'],inplace=True)
final_df

C:\Users\srika\AppData\Local\Temp\ipykernel_33196\2142223783.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_df.drop(columns=['info.gender'],inplace=True)

,innings,info.dates,info.match_type,info.outcome.winner,info.overs,info.player_of_match,info.teams,info.toss.decision,info.toss.winner,info.umpires,info.venue,match_id,info.city
0,"[{'1st innings': {'team': 'Australia', 'delive...",[2017-02-17],T20,Sri Lanka,20,[DAS Gunaratne],"[Australia, Sri Lanka]",field,Sri Lanka,"[MD Martell, P Wilson]",Melbourne Cricket Ground,1,NaN
1,"[{'1st innings': {'team': 'Australia', 'delive...",[2017-02-19],T20,Sri Lanka,20,[DAS Gunaratne],"[Australia, Sri Lanka]",field,Sri Lanka,"[SD Fry, SJ Nogajski]","Simonds Stadium, South Geelong",2,Victoria
2,"[{'1st innings': {'team': 'Australia', 'delive...",[2017-02-22],T20,Australia,20,[A Zampa],"[Australia, Sri Lanka]",field,Sri Lanka,"[MD Martell, P Wilson]",Adelaide Oval,3,NaN
3,"[{'1st innings': {'team': 'Hong Kong', 'delive...",[2016-09-05],T20,Hong Kong,20,NaN,"[Ireland, Hong Kong]",bat,Hong Kong,"[R Black, AJ Neill]","Bready Cricket Club, Magheramason",4,Londonderry
4,"[{'1st innings': {'team': 'Zimbabwe', 'deliver...",[2016-06-18],T20,Zimbabwe,20,[E Chigumbura],"[Zimbabwe, India]",field,India,"[TJ Matibiri, RB Tiffin]",Harare Sports Club,5,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4216,"[{'1st innings': {'team': 'Sri Lanka', 'delive...",[2016-03-04],T20,Pakistan,20,[Umar Akmal],"[Pakistan, Sri Lanka]",field,Pakistan,"[AK Chaudhary, Enamul Haque]",Shere Bangla National Stadium,4217,Mirpur
4217,"[{'1st innings': {'team': 'Bangladesh', 'deliv...",[2016-03-06],T20,India,20,[S Dhawan],"[Bangladesh, India]",field,India,"[RSA Palliyaguruge, Shozab Raza]",Shere Bangla National Stadium,4218,Mirpur
4218,"[{'1st innings': {'team': 'Netherlands', 'deli...",[2016-02-03],T20,Netherlands,20,[Mudassar Bukhari],"[United Arab Emirates, Netherlands]",field,United Arab Emirates,"[CK Nandan, Sarika Prasad]",ICC Academy,4219,Dubai
4219,"[{'1st innings': {'team': 'Australia', 'delive...",[2016-09-06],T20,Australia,20,[GJ Maxwell],"[Sri Lanka, Australia]",field,Sri Lanka,"[REJ Martinesz, RR Wimalasiri]",Pallekele International Cricket Stadium,4220,NaN
4220,"[{'1st innings': {'team': 'Sri Lanka', 'delive...",[2016-09-09],T20,Australia,20,[GJ Maxwell],"[Sri Lanka, Australia]",bat,Sri Lanka,"[REJ Martinesz, RSA Palliyaguruge]",R Premadasa Stadium,4221,Colombo

In [17]:
final_df['info.match_type'].value_counts()

info.match_type
T20    2696
Name: count, dtype: int64

In [19]:
final_df = final_df[final_df['info.overs'] == 20]
final_df.drop(columns=['info.overs','info.match_type'],inplace=True)
final_df

C:\Users\srika\AppData\Local\Temp\ipykernel_33196\3157072726.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_df.drop(columns=['info.overs','info.match_type'],inplace=True)

,innings,info.dates,info.outcome.winner,info.player_of_match,info.teams,info.toss.decision,info.toss.winner,info.umpires,info.venue,match_id,info.city
0,"[{'1st innings': {'team': 'Australia', 'delive...",[2017-02-17],Sri Lanka,[DAS Gunaratne],"[Australia, Sri Lanka]",field,Sri Lanka,"[MD Martell, P Wilson]",Melbourne Cricket Ground,1,NaN
1,"[{'1st innings': {'team': 'Australia', 'delive...",[2017-02-19],Sri Lanka,[DAS Gunaratne],"[Australia, Sri Lanka]",field,Sri Lanka,"[SD Fry, SJ Nogajski]","Simonds Stadium, South Geelong",2,Victoria
2,"[{'1st innings': {'team': 'Australia', 'delive...",[2017-02-22],Australia,[A Zampa],"[Australia, Sri Lanka]",field,Sri Lanka,"[MD Martell, P Wilson]",Adelaide Oval,3,NaN
3,"[{'1st innings': {'team': 'Hong Kong', 'delive...",[2016-09-05],Hong Kong,NaN,"[Ireland, Hong Kong]",bat,Hong Kong,"[R Black, AJ Neill]","Bready Cricket Club, Magheramason",4,Londonderry
4,"[{'1st innings': {'team': 'Zimbabwe', 'deliver...",[2016-06-18],Zimbabwe,[E Chigumbura],"[Zimbabwe, India]",field,India,"[TJ Matibiri, RB Tiffin]",Harare Sports Club,5,NaN
...,...,...,...,...,...,...,...,...,...,...,...
4216,"[{'1st innings': {'team': 'Sri Lanka', 'delive...",[2016-03-04],Pakistan,[Umar Akmal],"[Pakistan, Sri Lanka]",field,Pakistan,"[AK Chaudhary, Enamul Haque]",Shere Bangla National Stadium,4217,Mirpur
4217,"[{'1st innings': {'team': 'Bangladesh', 'deliv...",[2016-03-06],India,[S Dhawan],"[Bangladesh, India]",field,India,"[RSA Palliyaguruge, Shozab Raza]",Shere Bangla National Stadium,4218,Mirpur
4218,"[{'1st innings': {'team': 'Netherlands', 'deli...",[2016-02-03],Netherlands,[Mudassar Bukhari],"[United Arab Emirates, Netherlands]",field,United Arab Emirates,"[CK Nandan, Sarika Prasad]",ICC Academy,4219,Dubai
4219,"[{'1st innings': {'team': 'Australia', 'delive...",[2016-09-06],Australia,[GJ Maxwell],"[Sri Lanka, Australia]",field,Sri Lanka,"[REJ Martinesz, RR Wimalasiri]",Pallekele International Cricket Stadium,4220,NaN
4220,"[{'1st innings': {'team': 'Sri Lanka', 'delive...",[2016-09-09],Australia,[GJ Maxwell],"[Sri Lanka, Australia]",bat,Sri Lanka,"[REJ Martinesz, RSA Palliyaguruge]",R Premadasa Stadium,4221,Colombo

In [34]:
final_df.tail()

,innings,info.dates,info.outcome.winner,info.player_of_match,info.teams,info.toss.decision,info.toss.winner,info.umpires,info.venue,match_id,info.city
2685,"[{'1st innings': {'team': 'Sri Lanka', 'delive...","[datetime.date(2016, 3, 4)]",Pakistan,['Umar Akmal'],"['Pakistan', 'Sri Lanka']",field,Pakistan,"['AK Chaudhary', 'Enamul Haque']",Shere Bangla National Stadium,4217,Mirpur
2686,"[{'1st innings': {'team': 'Bangladesh', 'deliv...","[datetime.date(2016, 3, 6)]",India,['S Dhawan'],"['Bangladesh', 'India']",field,India,"['RSA Palliyaguruge', 'Shozab Raza']",Shere Bangla National Stadium,4218,Mirpur
2687,"[{'1st innings': {'team': 'Netherlands', 'deli...","[datetime.date(2016, 2, 3)]",Netherlands,['Mudassar Bukhari'],"['United Arab Emirates', 'Netherlands']",field,United Arab Emirates,"['CK Nandan', 'Sarika Prasad']",ICC Academy,4219,Dubai
2688,"[{'1st innings': {'team': 'Australia', 'delive...","[datetime.date(2016, 9, 6)]",Australia,['GJ Maxwell'],"['Sri Lanka', 'Australia']",field,Sri Lanka,"['REJ Martinesz', 'RR Wimalasiri']",Pallekele International Cricket Stadium,4220,NaN
2689,"[{'1st innings': {'team': 'Sri Lanka', 'delive...","[datetime.date(2016, 9, 9)]",Australia,['GJ Maxwell'],"['Sri Lanka', 'Australia']",bat,Sri Lanka,"['REJ Martinesz', 'RSA Palliyaguruge']",R Premadasa Stadium,4221,Colombo

In [22]:
final_df.to_csv('dataset_level1.csv',index=False)

In [29]:
import pandas as pd
final_df = pd.read_csv('dataset_level1.csv')

In [37]:
final_df.shape

(2690, 11)

In [38]:
matches = final_df.copy()

In [39]:
matches.iloc[2209]

innings                 [{'1st innings': {'team': 'Austria', 'deliveri...
info.dates                                                 ['2025-05-31']
info.outcome.winner                                           Switzerland
info.player_of_match                                         ['H Deshan']
info.teams                                     ['Austria', 'Switzerland']
info.toss.decision                                                    bat
info.toss.winner                                                  Austria
info.umpires                              ['Ashtiaq Shah', 'Pawan Kohli']
info.venue                               Velden Cricket Ground, Latschach
match_id                                                             3588
info.city                                                       Latschach
Name: 2209, dtype: object

In [177]:
matches = pd.concat([matches.iloc[:1167],matches.iloc[2211:]]) # omitting 2023 beyond

In [141]:
# import ast

# def string_to_dict(s):
#     res = ast.literal_eval(s)
#     return res

# matches['innings'].apply(string_to_dict)
# # matches

In [40]:
import ast
import json
import pickle
import marshal
# matches.iloc[0]['innings']
ast.literal_eval(matches.iloc[0]['innings'])

[{'1st innings': {'team': 'Australia',
   'deliveries': [{0.1: {'batsman': 'AJ Finch',
      'bowler': 'SL Malinga',
      'non_striker': 'M Klinger',
      'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
    {0.2: {'batsman': 'AJ Finch',
      'bowler': 'SL Malinga',
      'non_striker': 'M Klinger',
      'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
    {0.3: {'batsman': 'AJ Finch',
      'bowler': 'SL Malinga',
      'non_striker': 'M Klinger',
      'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
    {0.4: {'batsman': 'M Klinger',
      'bowler': 'SL Malinga',
      'non_striker': 'AJ Finch',
      'runs': {'batsman': 2, 'extras': 0, 'total': 2}}},
    {0.5: {'batsman': 'M Klinger',
      'bowler': 'SL Malinga',
      'non_striker': 'AJ Finch',
      'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
    {0.6: {'batsman': 'M Klinger',
      'bowler': 'SL Malinga',
      'non_striker': 'AJ Finch',
      'runs': {'batsman': 3, 'extras': 0, 'total': 3}}},
    {1.1: {'batsman': 'M Klinger',
      'bowler': 'KMDN Kulasekara',
      'non_striker': 'AJ Finch',
      'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
    {1.2: {'batsman': 'M Klinger',
      'bowler': 'KMDN Kulasekara',
      'non_striker': 'AJ Finch',
      'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
    {1.3: {'batsman': 'AJ Finch',
      'bowler': 'KMDN Kulasekara',
      'non_striker': 'M Klinger',
      'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
    {1.4: {'batsman': 'AJ Finch',
      'bowler': 'KMDN Kulasekara',
      'non_striker': 'M Klinger',
      'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
    {1.5: {'batsman': 'AJ Finch',
      'bowler': 'KMDN Kulasekara',
      'non_striker': 'M Klinger',
      'runs': {'batsman': 4, 'extras': 0, 'total': 4}}},
    {1.6: {'batsman': 'AJ Finch',
      'bowler': 'KMDN Kulasekara',
      'non_striker': 'M Klinger',
      'runs': {'batsman': 2, 'extras': 0, 'total': 2}}},
    {2.1: {'batsman': 'M Klinger',
      'bowler': 'JRMVB Sanjaya',
      'non_striker': 'AJ Finch',
      'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
    {2.2: {'batsman': 'AJ Finch',
      'bowler': 'JRMVB Sanjaya',
      'non_striker': 'M Klinger',
      'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
    {2.3: {'batsman': 'M Klinger',
      'bowler': 'JRMVB Sanjaya',
      'non_striker': 'AJ Finch',
      'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
    {2.4: {'batsman': 'M Klinger',
      'bowler': 'JRMVB Sanjaya',
      'non_striker': 'AJ Finch',
      'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
    {2.5: {'batsman': 'M Klinger',
      'bowler': 'JRMVB Sanjaya',
      'non_striker': 'AJ Finch',
      'runs': {'batsman': 4, 'extras': 0, 'total': 4}}},
    {2.6: {'batsman': 'M Klinger',
      'bowler': 'JRMVB Sanjaya',
      'non_striker': 'AJ Finch',
      'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
    {3.1: {'batsman': 'AJ Finch',
      'bowler': 'KMDN Kulasekara',
      'non_striker': 'M Klinger',
      'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
    {3.2: {'batsman': 'AJ Finch',
      'bowler': 'KMDN Kulasekara',
      'non_striker': 'M Klinger',
      'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
    {3.3: {'batsman': 'M Klinger',
      'bowler': 'KMDN Kulasekara',
      'non_striker': 'AJ Finch',
      'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
    {3.4: {'batsman': 'AJ Finch',
      'bowler': 'KMDN Kulasekara',
      'non_striker': 'M Klinger',
      'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
    {3.5: {'batsman': 'M Klinger',
      'bowler': 'KMDN Kulasekara',
      'non_striker': 'AJ Finch',
      'runs': {'batsman': 4, 'extras': 0, 'total': 4}}},
    {3.6: {'batsman': 'M Klinger',
      'bowler': 'KMDN Kulasekara',
      'non_striker': 'AJ Finch',
      'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
    {4.1: {'batsman': 'M Klinger',
      'bowler': 'JRMVB Sanjaya',
      'non_striker': 'AJ Finch',
      'runs': {'batsman': 3, 'extras': 0, 'total': 3}}},
    {4.2: {'batsman': 'AJ Finch',
      'bowler': 'JRMVB Sanjaya',
      'non_striker': 'M Klinger',
      'runs': {'batsman': 3, 'extras': 0, 'total': 3}}},
    {4.3: {'batsman': 'M Klinger',
      'bowler': 'JRMVB Sanjaya',
      'non_striker': 'AJ Finch',
      'runs': {'batsman': 4, 'extras': 0, 'total': 4}}},
    {4.4: {'batsman': 'M Klinger',
      'bowler': 'JRMVB Sanjaya',
      'non_striker': 'AJ Finch',
      'runs': {'batsman': 4, 'extras': 0, 'total': 4}}},
    {4.5: {'batsman': 'M Klinger',
      'bowler': 'JRMVB Sanjaya',
      'non_striker': 'AJ Finch',
      'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
    {4.6: {'batsman': 'AJ Finch',
      'bowler': 'JRMVB Sanjaya',
      'non_striker': 'M Klinger',
      'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
    {5.1: {'batsman': 'AJ Finch',
      'bowler': 'S Prasanna',
      'non_striker': 'M Klinger',
      'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
    {5.2: {'batsman': 'M Klinger',
      'bowler': 'S Prasanna',
      'extras': {'wides': 1},
      'non_striker': 'AJ Finch',
      'runs': {'batsman': 0, 'extras': 1, 'total': 1}}},
    {5.3: {'batsman': 'M Klinger',
      'bowler': 'S Prasanna',
      'non_striker': 'AJ Finch',
      'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
    {5.4: {'batsman': 'M Klinger',
      'bowler': 'S Prasanna',
      'non_striker': 'AJ Finch',
      'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
    {5.5: {'batsman': 'M Klinger',
      'bowler': 'S Prasanna',
      'non_striker': 'AJ Finch',
      'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
    {5.6: {'batsman': 'AJ Finch',
      'bowler': 'S Prasanna',
      'non_striker': 'M Klinger',
      'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
    {5.7: {'batsman': 'M Klinger',
      'bowler': 'S Prasanna',
      'non_striker': 'AJ Finch',
      'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
    {6.1: {'batsman': 'AJ Finch',
      'bowler': 'PADLR Sandakan',
      'non_striker': 'M Klinger',
      'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
    {6.2: {'batsman': 'M Klinger',
      'bowler': 'PADLR Sandakan',
      'non_striker': 'AJ Finch',
      'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
    {6.3: {'batsman': 'AJ Finch',
      'bowler': 'PADLR Sandakan',
      'non_striker': 'M Klinger',
      'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
    {6.4: {'batsman': 'AJ Finch',
      'bowler': 'PADLR Sandakan',
      'non_striker': 'M Klinger',
      'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
    {6.5: {'batsman': 'M Klinger',
      'bowler': 'PADLR Sandakan',
      'non_striker': 'AJ Finch',
      'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
    {6.6: {'batsman': 'AJ Finch',
      'bowler': 'PADLR Sandakan',
      'non_striker': 'M Klinger',
      'runs': {'batsman': 2, 'extras': 0, 'total': 2}}},
    {7.1: {'batsman': 'M Klinger',
      'bowler': 'S Prasanna',
      'non_striker': 'AJ Finch',
      'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
    {7.2: {'batsman': 'M Klinger',
      'bowler': 'S Prasanna',
      'non_striker': 'AJ Finch',
      'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
    {7.3: {'batsman': 'AJ Finch',
      'bowler': 'S Prasanna',
      'non_striker': 'M Klinger',
      'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
    {7.4: {'batsman': 'M Klinger',
      'bowler': 'S Prasanna',
      'extras': {'byes': 1},
      'non_striker': 'AJ Finch',
      'runs': {'batsman': 0, 'extras': 1, 'total': 1}}},
    {7.5: {'batsman': 'AJ Finch',
      'bowler': 'S Prasanna',
      'non_striker': 'M Klinger',
      'runs': {'batsman': 4, 'extras': 0, 'total': 4}}},
    {7.6: {'batsman': 'AJ Finch',
      'bowler': 'S Prasanna',
      'non_striker': 'M Klinger',
      'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
    {8.1: {'batsman': 'AJ Finch',
      'bowler': 'PADLR Sandakan',
      'non_striker': 'M Klinger',
      'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
    {8.2: {'batsman': 'M Klinger',
      'bowler': 'PADLR Sandakan',
      'non_striker': 'AJ Finch',
      'runs': {'batsman': 3, 'extras': 0, 'total': 3}}},
    {8.3: {'batsman': 'AJ Finch',
      'bowler': 'PADLR Sandakan',
      'non_striker': 'M Klinger',
      'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
    {8.4: {'batsman': 'M Klinger',
      'bowler': 'PADLR Sandakan',
      'non_striker': 'AJ Finch',
      'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
    {8.5: {'batsman': 'M Klinger',
      'bowler': 'PADLR Sandakan',
      'non_striker': 'AJ Finch',
      'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
    {8.6: {'batsman': 'M Klinger',
      'bowler': 'PADLR Sandakan',
      'non_striker': 'AJ Finch',
      'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
    {9.1: {'batsman': 'M Klinger',
      'bowler': 'S Prasanna',
      'non_striker': 'AJ Finch',
      'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
    {9.2: {'batsman': 'AJ Finch',
      'bowler': 'S Prasanna',
      'non_striker': 'M Klinger',
      'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
    {9.3: {'batsman': 'AJ Finch',
      'bowler': 'S Prasanna',
      'non_striker': 'M Klinger',
      'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
    {9.4: {'batsman': 'AJ Finch',
      'bowler': 'S Prasanna',
      'non_striker': 'M Klinger',
      'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
    {9.5: {'batsman': 'AJ Finch',
      'bowler': 'S Prasanna',
      'non_striker': 'M Klinger',
      'runs': {'batsman': 6, 'extras': 0, 'total': 6}}},
    {9.6: {'batsman': 'AJ Finch',
      'bowler': 'S Prasanna',
      'non_striker': 'M Klinger',
      'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
    {10.1: {'batsman': 'AJ Finch',
      'bowler': 'PADLR Sandakan',
      'non_striker': 'M Klinger',
      'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
    {10.2: {'batsman': 'AJ Finch',
      'bowler': 'PADLR Sandakan',
      'extras': {'legbyes': 1},
      'non_striker': 'M Klinger',
      'runs': {'batsman': 0, 'extras': 1, 'total': 1}}},
    {10.3: {'batsman': 'M Klinger',
      'bowler': 'PADLR Sandakan',
      'non_striker': 'AJ Finch',
      'runs': {'batsman': 0, 'extras': 0, 'total': 0},
      'wicket': {'fielders': ['SL Malinga'],
       'kind': 'caught',
       'player_out': 'M Klinger'}}},
    {10.4: {'batsman': 'TM Head',
      'bowler': 'PADLR Sandakan',
      'non_striker': 'AJ Finch',
      'runs': {'batsman': 2, 'extras': 0, 'total': 2}}},
    {10.5: {'batsman': 'TM Head',
      'bowler': 'PADLR Sandakan',
      'non_striker': 'AJ Finch',
      'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
    {10.6: {'batsman': 'TM Head',
      'bowler': 'PADLR Sandakan',
      'non_striker': 'AJ Finch',
      'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
    {11.1: {'batsman': 'AJ Finch',
      'bowler': 'DAS Gunaratne',
      'non_striker': 'TM Head',
      'runs': {'batsman': 6, 'extras': 0, 'total': 6}}},
    {11.2: {'batsman': 'AJ Finch',
      'bowler': 'DAS Gunaratne',
      'non_striker': 'TM Head',
      'runs': {'batsman': 2, 'extras': 0, 'total': 2}}},
    {11.3: {'batsman': 'AJ Finch',
      'bowler': 'DAS Gunaratne',
      'non_striker': 'TM Head',
      'runs': {'batsman': 0, 'extras': 0, 'total': 0},
      'wicket': {'fielders': ['SL Malinga'],
       'kind': 'caught',
       'player_out': 'AJ Finch'}}},
    {11.4: {'batsman': 'TM Head',
      'bowler': 'DAS Gunaratne',
      'non_striker': 'MC Henriques',
      'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
    {11.5: {'batsman': 'MC Henriques',
      'bowler': 'DAS Gunaratne',
      'non_striker': 'TM Head',
      'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
    {11.6: {'batsman': 'TM Head',
      'bowler': 'DAS Gunaratne',
      'non_striker': 'MC Henriques',
      'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
    {12.1: {'batsman': 'TM Head',
      'bowler': 'S Prasanna',
      'non_striker': 'MC Henriques',
      'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
    {12.2: {'batsman': 'TM Head',
      'bowler': 'S Prasanna',
      'non_striker': 'MC Henriques',
      'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
    {12.3: {'batsman': 'MC Henriques',
      'bowler': 'S Prasanna',
      'non_striker': 'TM Head',
      'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
    {12.4: {'batsman': 'TM Head',
      'bowler': 'S Prasanna',
      'non_striker': 'MC Henriques',
      'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
    {12.5: {'batsman': 'TM Head',
      'bowler': 'S Prasanna',
      'non_striker': 'MC Henriques',
      'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
    {12.6: {'batsman': 'MC Henriques',
      'bowler': 'S Prasanna',
      'non_striker': 'TM Head',
      'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
    {13.1: {'batsman': 'MC Henriques',
      'bowler': 'SL Malinga',
      'non_striker': 'TM Head',
      'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
    {13.2: {'batsman': 'MC Henriques',
      'bowler': 'SL Malinga',
      'extras': {'wides': 1},
      'non_striker': 'TM Head',
      'runs': {'batsman': 0, 'extras': 1, 'total': 1}}},
    {13.3: {'batsman': 'MC Henriques',
      'bowler': 'SL Malinga',
      'non_striker': 'TM Head',
      'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
    {13.4: {'batsman': 'TM Head',
      'bowler': 'SL Malinga',
      'non_striker': 'MC Henriques',
      'runs': {'batsman': 2, 'extras': 0, 'total': 2}}},
    {13.5: {'batsman': 'TM Head',
      'bowler': 'SL Malinga',
      'non_striker': 'MC Henriques',
      'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
    {13.6: {'batsman': 'MC Henriques',
      'bowler': 'SL Malinga',
      'non_striker': 'TM Head',
      'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
    {13.7: {'batsman': 'TM Head',
      'bowler': 'SL Malinga',
      'non_striker': 'MC Henriques',
      'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
    {14.1: {'batsman': 'TM Head',
      'bowler': 'PADLR Sandakan',
      'non_striker': 'MC Henriques',
      'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
    {14.2: {'batsman': 'MC Henriques',
      'bowler': 'PADLR Sandakan',
      'non_striker': 'TM Head',
      'runs': {'batsman': 3, 'extras': 0, 'total': 3}}},
    {14.3: {'batsman': 'TM Head',
      'bowler': 'PADLR Sandakan',
      'non_striker': 'MC Henriques',
      'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
    {14.4: {'batsman': 'MC Henriques',
      'bowler': 'PADLR Sandakan',
      'non_striker': 'TM Head',
      'runs': {'batsman': 6, 'extras': 0, 'total': 6}}},
    {14.5: {'batsman': 'MC Henriques',
      'bowler': 'PADLR Sandakan',
      'non_striker': 'TM Head',
      'runs': {'batsman': 3, 'extras': 0, 'total': 3}}},
    {14.6: {'batsman': 'TM Head',
      'bowler': 'PADLR Sandakan',
      'non_striker': 'MC Henriques',
      'runs': {'batsman': 2, 'extras': 0, 'total': 2}}},
    {15.1: {'batsman': 'MC Henriques',
      'bowler': 'JRMVB Sanjaya',
      'non_striker': 'TM Head',
      'runs': {'batsman': 0, 'extras': 0, 'total': 0},
      'wicket': {'fielders': ['CK Kapugedera'],
       'kind': 'caught',
       'player_out': 'MC Henriques'}}},
    {15.2: {'batsman': 'TM Head',
      'bowler': 'JRMVB Sanjaya',
      'non_striker': 'AJ Turner',
      'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
    {15.3: {'batsman': 'AJ Turner',
      'bowler': 'JRMVB Sanjaya',
      'non_striker': 'TM Head',
      'runs': {'batsman': 2, 'extras': 0, 'total': 2}}},
    {15.4: {'batsman': 'AJ Turner',
      'bowler': 'JRMVB Sanjaya',
      'non_striker': 'TM Head',
      'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
    {15.5: {'batsman': 'TM Head',
      'bowler': 'JRMVB Sanjaya',
      'non_striker': 'AJ Turner',
      'runs': {'batsman': 2, 'extras': 0, 'total': 2}}},
    {15.6: {'batsman': 'TM Head',
      'bowler': 'JRMVB Sanjaya',
      'extras': {'wides': 1},
      'non_striker': 'AJ Turner',
      'runs': {'batsman': 0, 'extras': 1, 'total': 1}}},
    {15.7: {'batsman': 'TM Head',
      'bowler': 'JRMVB Sanjaya',
      'non_striker': 'AJ Turner',
      'runs': {'batsman': 6, 'extras': 0, 'total': 6}}},
    {16.1: {'batsman': 'AJ Turner',
      'bowler': 'SL Malinga',
      'non_striker': 'TM Head',
      'runs': {'batsman': 2, 'extras': 0, 'total': 2}}},
    {16.2: {'batsman': 'AJ Turner',
      'bowler': 'SL Malinga',
      'non_striker': 'TM Head',
      'runs': {'batsman': 4, 'extras': 0, 'total': 4}}},
    {16.3: {'batsman': 'AJ Turner',
      'bowler': 'SL Malinga',
      'non_striker': 'TM Head',
      'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
    {16.4: {'batsman': 'TM Head',
      'bowler': 'SL Malinga',
      'non_striker': 'AJ Turner',
      'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
    {16.5: {'batsman': 'AJ Turner',
      'bowler': 'SL Malinga',
      'non_striker': 'TM Head',
      'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
    {16.6: {'batsman': 'TM Head',
      'bowler': 'SL Malinga',
      'non_striker': 'AJ Turner',
      'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
    {17.1: {'batsman': 'TM Head',
      'bowler': 'KMDN Kulasekara',
      'non_striker': 'AJ Turner',
      'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
    {17.2: {'batsman': 'AJ Turner',
      'bowler': 'KMDN Kulasekara',
      'non_striker': 'TM Head',
      'runs': {'batsman': 2, 'extras': 0, 'total': 2}}},
    {17.3: {'batsman': 'AJ Turner',
      'bowler': 'KMDN Kulasekara',
      'extras': {'noballs': 1},
      'non_striker': 'TM Head',
      'runs': {'batsman': 0, 'extras': 1, 'total': 1}}},
    {17.4: {'batsman': 'AJ Turner',
      'bowler': 'KMDN Kulasekara',
      'non_striker': 'TM Head',
      'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
    {17.5: {'batsman': 'TM Head',
      'bowler': 'KMDN Kulasekara',
      'non_striker': 'AJ Turner',
      'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
    {17.6: {'batsman': 'AJ Turner',
      'bowler': 'KMDN Kulasekara',
      'non_striker': 'TM Head',
      'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
    {17.7: {'batsman': 'TM Head',
      'bowler': 'KMDN Kulasekara',
      'non_striker': 'AJ Turner',
      'runs': {'batsman': 2, 'extras': 0, 'total': 2}}},
    {18.1: {'batsman': 'AJ Turner',
      'bowler': 'SL Malinga',
      'non_striker': 'TM Head',
      'runs': {'batsman': 2, 'extras': 0, 'total': 2}}},
    {18.2: {'batsman': 'AJ Turner',
      'bowler': 'SL Malinga',
      'non_striker': 'TM Head',
      'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
    {18.3: {'batsman': 'TM Head',
      'bowler': 'SL Malinga',
      'non_striker': 'AJ Turner',
      'runs': {'batsman': 2, 'extras': 0, 'total': 2}}},
    {18.4: {'batsman': 'TM Head',
      'bowler': 'SL Malinga',
      'non_striker': 'AJ Turner',
      'runs': {'batsman': 0, 'extras': 0, 'total': 0},
      'wicket': {'fielders': ['S Prasanna'],
       'kind': 'caught',
       'player_out': 'TM Head'}}},
    {18.5: {'batsman': 'AJ Turner',
      'bowler': 'SL Malinga',
      'non_striker': 'JP Faulkner',
      'runs': {'batsman': 0, 'extras': 0, 'total': 0},
      'wicket': {'fielders': ['S Prasanna'],
       'kind': 'caught',
       'player_out': 'AJ Turner'}}},
    {18.6: {'batsman': 'JP Faulkner',
      'bowler': 'SL Malinga',
      'non_striker': 'TD Paine',
      'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
    {19.1: {'batsman': 'JP Faulkner',
      'bowler': 'KMDN Kulasekara',
      'non_striker': 'TD Paine',
      'runs': {'batsman': 4, 'extras': 0, 'total': 4}}},
    {19.2: {'batsman': 'JP Faulkner',
      'bowler': 'KMDN Kulasekara',
      'non_striker': 'TD Paine',
      'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
    {19.3: {'batsman': 'JP Faulkner',
      'bowler': 'KMDN Kulasekara',
      'non_striker': 'TD Paine',
      'runs': {'batsman': 2, 'extras': 0, 'total': 2}}},
    {19.4: {'batsman': 'JP Faulkner',
      'bowler': 'KMDN Kulasekara',
      'extras': {'wides': 1},

In [41]:
import ast
count = 1
delivery_df = pd.DataFrame()
# matches = final_df.copy()
for index, row in matches.iterrows():
    # if count in [75,108,150,180,268,360,443,458,584,748,982,1052,1111,1226,1345]:
    #     count+=1
    #     continue
    count+=1
    ball_of_match = []
    batsman = []
    bowler = []
    runs = []
    player_of_dismissed = []
    teams = []
    batting_team = []
    match_id = []
    city = []
    venue = []
    row_innings = ast.literal_eval(row['innings'])
    # row_innings = row['innings']
    for ball in row_innings[0]['1st innings']['deliveries']:
        for key in ball.keys():
            match_id.append(count)
            batting_team.append(row_innings[0]['1st innings']['team'])
            teams.append(row['info.teams'])
            ball_of_match.append(key)
            batsman.append(ball[key]['batsman'])
            bowler.append(ball[key]['bowler'])
            runs.append(ball[key]['runs']['total'])
            city.append(row['info.city'])
            venue.append(row['info.venue'])
            try:
                player_of_dismissed.append(ball[key]['wicket']['player_out'])
            except:
                player_of_dismissed.append('0')
    loop_df = pd.DataFrame({
            'match_id':match_id,
            'teams':teams,
            'batting_team':batting_team,
            'ball':ball_of_match,
            'batsman':batsman,
            'bowler':bowler,
            'runs':runs,
            'player_dismissed':player_of_dismissed,
            'city':city,
            'venue':venue
        })
    delivery_df = pd.concat([delivery_df, loop_df], ignore_index=True)

In [42]:
delivery_df.head()

,match_id,teams,batting_team,ball,batsman,bowler,runs,player_dismissed,city,venue
0,2,"['Australia', 'Sri Lanka']",Australia,0.1,AJ Finch,SL Malinga,0,0,NaN,Melbourne Cricket Ground
1,2,"['Australia', 'Sri Lanka']",Australia,0.2,AJ Finch,SL Malinga,0,0,NaN,Melbourne Cricket Ground
2,2,"['Australia', 'Sri Lanka']",Australia,0.3,AJ Finch,SL Malinga,1,0,NaN,Melbourne Cricket Ground
3,2,"['Australia', 'Sri Lanka']",Australia,0.4,M Klinger,SL Malinga,2,0,NaN,Melbourne Cricket Ground
4,2,"['Australia', 'Sri Lanka']",Australia,0.5,M Klinger,SL Malinga,0,0,NaN,Melbourne Cricket Ground

In [45]:
delivery_df.shape

(325552, 10)

In [46]:
def bowl(row):
    row_teams = ast.literal_eval(row['teams'])
    for team in row_teams:
        if team != row['batting_team']:
            return team

In [47]:
delivery_df['bowling_team'] = delivery_df.apply(bowl,axis=1)

In [48]:
delivery_df.head()

,match_id,teams,batting_team,ball,batsman,bowler,runs,player_dismissed,city,venue,bowling_team
0,2,"['Australia', 'Sri Lanka']",Australia,0.1,AJ Finch,SL Malinga,0,0,NaN,Melbourne Cricket Ground,Sri Lanka
1,2,"['Australia', 'Sri Lanka']",Australia,0.2,AJ Finch,SL Malinga,0,0,NaN,Melbourne Cricket Ground,Sri Lanka
2,2,"['Australia', 'Sri Lanka']",Australia,0.3,AJ Finch,SL Malinga,1,0,NaN,Melbourne Cricket Ground,Sri Lanka
3,2,"['Australia', 'Sri Lanka']",Australia,0.4,M Klinger,SL Malinga,2,0,NaN,Melbourne Cricket Ground,Sri Lanka
4,2,"['Australia', 'Sri Lanka']",Australia,0.5,M Klinger,SL Malinga,0,0,NaN,Melbourne Cricket Ground,Sri Lanka

In [49]:
delivery_df.drop(columns=['teams'],inplace=True)

In [50]:
pd.set_option('display.max_rows', None)
delivery_df['batting_team'].value_counts()

batting_team
India                       16548
Pakistan                    16041
New Zealand                 14900
Sri Lanka                   12639
South Africa                12319
West Indies                 11648
Bangladesh                  10398
England                     10344
Australia                   10271
Zimbabwe                     9598
Ireland                      7084
United Arab Emirates         6529
Malaysia                     6483
Netherlands                  6384
Hong Kong                    6273
Uganda                       5684
Nigeria                      5348
Scotland                     5107
Canada                       4858
Nepal                        4748
Kenya                        4586
Bahrain                      4495
Oman                         4481
Namibia                      4406
Malta                        4100
Rwanda                       4097
Japan                        4047
Singapore                    4045
Tanzania                     3635
Gibraltar                    3067
Thailand                     3010
Jersey                       2831
Papua New Guinea             2825
Bermuda                      2825
Austria                      2823
Romania                      2798
Denmark                      2744
Kuwait                       2667
Indonesia                    2660
United States of America     2456
Saudi Arabia                 2421
France                       2342
Maldives                     2284
Norway                       2268
Ghana                        2230
Belgium                      2223
Germany                      2220
Botswana                     2174
Bulgaria                     2153
Vanuatu                      2035
Qatar                        1994
Luxembourg                   1918
Bhutan                       1850
Italy                        1847
Portugal                     1753
Cayman Islands               1739
Panama                       1712
Spain                        1650
Croatia                      1613
Finland                      1572
Serbia                       1517
Cyprus                       1492
Myanmar                      1486
Bahamas                      1408
Czech Republic               1404
Malawi                       1381
Guernsey                     1339
Sierra Leone                 1317
Hungary                      1289
Isle of Man                  1256
Estonia                      1245
Philippines                  1212
Cambodia                     1188
Samoa                        1133
Mexico                       1132
Argentina                    1095
Cameroon                      900
Mozambique                    814
Sweden                        728
Switzerland                   632
Lesotho                       623
Gambia                        619
Fiji                          596
Mali                          577
Slovenia                      574
Swaziland                     537
Seychelles                    530
Israel                        507
Belize                        472
Greece                        388
Costa Rica                    378
Eswatini                      377
Cook Islands                  371
St Helena                     371
Turkey                        368
South Korea                   366
Suriname                      358
Mongolia                      357
Ivory Coast                   310
Chile                         261
Turks and Caicos Island       254
Brazil                        241
China                         218
Iran                          131
Name: count, dtype: int64

In [52]:
teams = [
    'India',
    'Pakistan',
    'New Zealand',
    'Sri Lanka',
    'South Africa',
    'West Indies',
    'Bangladesh',
    'England',
    'Australia',
    'Zimbabwe',
    'Ireland',
    'United Arab Emirates',
    'Malaysia',
    'Netherlands',
    'Hong Kong',
    'Uganda',
    'Nigeria',
    'Scotland',
    'Canada',
    'Nepal',
    'Kenya',
    'Bahrain',
    'Oman',
    'Namibia',
    'Malta',
    'Rwanda',
    'Japan',
    'Singapore'
]

In [53]:
delivery_df = delivery_df[delivery_df['batting_team'].isin(teams)]
delivery_df = delivery_df[delivery_df['bowling_team'].isin(teams)]

In [54]:
delivery_df.shape

(180347, 10)

In [55]:
output = delivery_df[['match_id','batting_team','bowling_team','ball','runs','player_dismissed','city','venue']]

In [56]:
output.head()

,match_id,batting_team,bowling_team,ball,runs,player_dismissed,city,venue
0,2,Australia,Sri Lanka,0.1,0,0,NaN,Melbourne Cricket Ground
1,2,Australia,Sri Lanka,0.2,0,0,NaN,Melbourne Cricket Ground
2,2,Australia,Sri Lanka,0.3,1,0,NaN,Melbourne Cricket Ground
3,2,Australia,Sri Lanka,0.4,2,0,NaN,Melbourne Cricket Ground
4,2,Australia,Sri Lanka,0.5,0,0,NaN,Melbourne Cricket Ground

In [57]:
output.to_csv('dataset_level2.csv', index=False)

In [32]:
# batting team
# bowling team
# city
# current score
# balls left
# wickets left
# current run rate
# runs in last five overs

In [58]:
output.isnull().sum()

match_id                0
batting_team            0
bowling_team            0
ball                    0
runs                    0
player_dismissed        0
city                14244
venue                   0
dtype: int64

In [59]:
output[output['city'].isnull()]['venue'].value_counts()

venue
Dubai International Cricket Stadium        4825
Harare Sports Club                         2731
Pallekele International Cricket Stadium    2066
Melbourne Cricket Ground                   1453
Sydney Cricket Ground                       749
Sylhet Stadium                              740
Adelaide Oval                               498
Mombasa Sports Club Ground                  371
Rawalpindi Cricket Stadium                  368
Sharjah Cricket Stadium                     251
Sylhet International Cricket Stadium        128
Carrara Oval                                 64
Name: count, dtype: int64

In [61]:
import numpy as np
x = np.where(output['city'].isnull(), output['venue'].str.split().apply(lambda x:x[0]), output['city'])

In [62]:
output['city'] = x

C:\Users\srika\AppData\Local\Temp\ipykernel_18604\2208188131.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  output['city'] = x

In [63]:
output.isnull().sum()

match_id            0
batting_team        0
bowling_team        0
ball                0
runs                0
player_dismissed    0
city                0
venue               0
dtype: int64

In [64]:
output.drop(columns=['venue'],inplace=True)

C:\Users\srika\AppData\Local\Temp\ipykernel_18604\2962604362.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  output.drop(columns=['venue'],inplace=True)

In [65]:
output.head()

   match_id batting_team bowling_team  ball  runs player_dismissed       city
0         2    Australia    Sri Lanka   0.1     0                0  Melbourne
1         2    Australia    Sri Lanka   0.2     0                0  Melbourne
2         2    Australia    Sri Lanka   0.3     1                0  Melbourne
3         2    Australia    Sri Lanka   0.4     2                0  Melbourne
4         2    Australia    Sri Lanka   0.5     0                0  Melbourne

In [66]:
output.shape

(180347, 7)

In [67]:
output['city'].value_counts()

city
Dubai                 12228
Al Amarat              7634
Abu Dhabi              6276
Colombo                5613
Harare                 5493
Johannesburg           4091
Mirpur                 4056
Windhoek               3904
Kigali City            3448
Auckland               3410
Nairobi                3332
Kirtipur               3036
London                 2991
Dhaka                  2941
Lahore                 2853
Kuala Lumpur           2844
Sydney                 2820
Cape Town              2618
Durban                 2372
Dublin                 2334
Melbourne              2320
Wellington             2107
Pallekele              2066
Bulawayo               2053
Christchurch           1969
Sharjah                1940
Barbados               1929
Centurion              1893
Lauderhill             1870
Bridgetown             1752
Edinburgh              1731
Nottingham             1722
Singapore              1708
Gros Islet             1681
Hobart                 1675
Chittagong             1662
Mount Maunganui        1637
Hamilton               1591
Adelaide               1492
Southampton            1483
Manchester             1390
St Lucia               1364
Sylhet                 1359
Karachi                1359
Kolkata                1354
Kathmandu              1244
The Hague              1236
Cardiff                1229
Belfast                1183
Brisbane               1145
Mumbai                 1120
Perth                  1118
Mong Kok               1110
Chattogram             1097
Tarouba                1069
Nagpur                 1035
St George's            1009
Entebbe                 999
King City               997
Accra                   991
Birmingham              943
Providence              904
Kandy                   871
Delhi                   866
Ahmedabad               861
Rawalpindi              851
New York                840
Dharamsala              827
Hambantota              793
North Sound             755
Bristol                 754
Bangi                   753
Chandigarh              751
Bangkok                 750
Kingston                748
Rajkot                  746
Kingstown               743
Geelong                 743
Trinidad                738
Napier                  735
Guyana                  714
Basseterre              675
Pune                    623
Bangalore               620
Rotterdam               616
Dambulla                616
Canberra                571
Hangzhou                528
Doha                    499
Antigua                 499
Amstelveen              495
Khulna                  492
Ranchi                  491
Chester-le-Street       490
Visakhapatnam           484
Dunedin                 463
Bready                  450
Thiruvananthapuram      437
Lagos                   403
Bengaluru               396
Guwahati                385
Lucknow                 379
Nelson                  378
Indore                  377
Hyderabad               374
Chennai                 373
Coolidge                372
Jamaica                 372
Mombasa                 371
East London             365
Cuttack                 365
Port Elizabeth          331
St Kitts                280
Utrecht                 259
Londonderry             252
Deventer                251
Gqeberha                251
Bloemfontein            248
Kampala                 247
St Vincent              245
Fatullah                244
Potchefstroom           244
Dallas                  242
Dominica                242
Roseau                  211
Carrara                 196
Hong Kong               188
Jinja                   181
Dharmasala              128
Kanpur                  128
Queenstown              128
Leeds                   126
Taunton                 125
Paarl                   125
Raipur                  124
Jaipur                  123
Victoria                123
Kimberley               123
Derry                   121
Gwalior                 121
Benoni                  112
Name: count, dtype: int64

In [68]:
eligible_cities = output['city'].value_counts()[output['city'].value_counts() > 600].index.tolist()

In [69]:
output = output[output['city'].isin(eligible_cities)]

In [70]:
output.info()

<class 'pandas.core.frame.DataFrame'>
Index: 163819 entries, 0 to 325551
Data columns (total 7 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   match_id          163819 non-null  int64
 1   batting_team      163819 non-null  object
 2   bowling_team      163819 non-null  object
 3   ball              163819 non-null  float64
 4   runs              163819 non-null  int64
 5   player_dismissed  163819 non-null  object
 6   city              163819 non-null  object
dtypes: float64(1), int64(2), object(4)
memory usage: 10.0+ MB

In [71]:
output['current_score'] = output.groupby('match_id')['runs'].cumsum()

In [72]:
output.tail(15)

,match_id,batting_team,bowling_team,ball,runs,player_dismissed,city,current_score
325537,2691,Sri Lanka,Australia,18.1,1,0,Colombo,115
325538,2691,Sri Lanka,Australia,18.2,2,0,Colombo,117
325539,2691,Sri Lanka,Australia,18.3,1,0,Colombo,118
325540,2691,Sri Lanka,Australia,18.4,1,0,Colombo,119
325541,2691,Sri Lanka,Australia,18.5,1,0,Colombo,120
325542,2691,Sri Lanka,Australia,18.6,1,0,Colombo,121
325543,2691,Sri Lanka,Australia,18.7,1,0,Colombo,122
325544,2691,Sri Lanka,Australia,18.8,1,0,Colombo,123
325545,2691,Sri Lanka,Australia,19.1,1,0,Colombo,124
325546,2691,Sri Lanka,Australia,19.2,0,0,Colombo,124
325547,2691,Sri Lanka,Australia,19.3,1,0,Colombo,125
325548,2691,Sri Lanka,Australia,19.4,0,0,Colombo,125
325549,2691,Sri Lanka,Australia,19.5,0,DM de Silva,Colombo,125
325550,2691,Sri Lanka,Australia,19.6,2,0,Colombo,127
325551,2691,Sri Lanka,Australia,19.7,1,0,Colombo,128

In [73]:
output['over'] = output['ball'].apply(lambda x:str(x).split(".")[0])
output['ball_no'] = output['ball'].apply(lambda x:str(x).split(".")[1])

In [74]:
output['balls_bowled'] = (output['over'].astype('int')*6) + output['ball_no'].astype('int')

In [75]:
output['balls_left'] = 120 - output['balls_bowled']
output['balls_left'] = output['balls_left'].apply(lambda x:0 if x<0 else x)

In [76]:
output.head(15)

,match_id,batting_team,bowling_team,ball,runs,player_dismissed,city,current_score,over,ball_no,balls_bowled,balls_left
0,2,Australia,Sri Lanka,0.1,0,0,Melbourne,0,0,1,1,119
1,2,Australia,Sri Lanka,0.2,0,0,Melbourne,0,0,2,2,118
2,2,Australia,Sri Lanka,0.3,1,0,Melbourne,1,0,3,3,117
3,2,Australia,Sri Lanka,0.4,2,0,Melbourne,3,0,4,4,116
4,2,Australia,Sri Lanka,0.5,0,0,Melbourne,3,0,5,5,115
5,2,Australia,Sri Lanka,0.6,3,0,Melbourne,6,0,6,6,114
6,2,Australia,Sri Lanka,1.1,0,0,Melbourne,6,1,1,7,113
7,2,Australia,Sri Lanka,1.2,1,0,Melbourne,7,1,2,8,112
8,2,Australia,Sri Lanka,1.3,0,0,Melbourne,7,1,3,9,111
9,2,Australia,Sri Lanka,1.4,0,0,Melbourne,7,1,4,10,110
10,2,Australia,Sri Lanka,1.5,4,0,Melbourne,11,1,5,11,109
11,2,Australia,Sri Lanka,1.6,2,0,Melbourne,13,1,6,12,108
12,2,Australia,Sri Lanka,2.1,1,0,Melbourne,14,2,1,13,107
13,2,Australia,Sri Lanka,2.2,1,0,Melbourne,15,2,2,14,106
14,2,Australia,Sri Lanka,2.3,0,0,Melbourne,15,2,3,15,105

In [77]:
output['player_dismissed'] = output['player_dismissed'].apply(lambda x:0 if x=='0' else 1)
output['player_dismissed'] = output['player_dismissed'].astype('int')

In [78]:
output.head(12)

,match_id,batting_team,bowling_team,ball,runs,player_dismissed,city,current_score,over,ball_no,balls_bowled,balls_left
0,2,Australia,Sri Lanka,0.1,0,0,Melbourne,0,0,1,1,119
1,2,Australia,Sri Lanka,0.2,0,0,Melbourne,0,0,2,2,118
2,2,Australia,Sri Lanka,0.3,1,0,Melbourne,1,0,3,3,117
3,2,Australia,Sri Lanka,0.4,2,0,Melbourne,3,0,4,4,116
4,2,Australia,Sri Lanka,0.5,0,0,Melbourne,3,0,5,5,115
5,2,Australia,Sri Lanka,0.6,3,0,Melbourne,6,0,6,6,114
6,2,Australia,Sri Lanka,1.1,0,0,Melbourne,6,1,1,7,113
7,2,Australia,Sri Lanka,1.2,1,0,Melbourne,7,1,2,8,112
8,2,Australia,Sri Lanka,1.3,0,0,Melbourne,7,1,3,9,111
9,2,Australia,Sri Lanka,1.4,0,0,Melbourne,7,1,4,10,110
10,2,Australia,Sri Lanka,1.5,4,0,Melbourne,11,1,5,11,109
11,2,Australia,Sri Lanka,1.6,2,0,Melbourne,13,1,6,12,108

In [79]:
output['player_dismissed'] = output.groupby('match_id')['player_dismissed'].cumsum()
output['wickets_left'] = 10 - output['player_dismissed']

In [80]:
output.head(12)

,match_id,batting_team,bowling_team,ball,runs,player_dismissed,city,current_score,over,ball_no,balls_bowled,balls_left,wickets_left
0,2,Australia,Sri Lanka,0.1,0,0,Melbourne,0,0,1,1,119,10
1,2,Australia,Sri Lanka,0.2,0,0,Melbourne,0,0,2,2,118,10
2,2,Australia,Sri Lanka,0.3,1,0,Melbourne,1,0,3,3,117,10
3,2,Australia,Sri Lanka,0.4,2,0,Melbourne,3,0,4,4,116,10
4,2,Australia,Sri Lanka,0.5,0,0,Melbourne,3,0,5,5,115,10
5,2,Australia,Sri Lanka,0.6,3,0,Melbourne,6,0,6,6,114,10
6,2,Australia,Sri Lanka,1.1,0,0,Melbourne,6,1,1,7,113,10
7,2,Australia,Sri Lanka,1.2,1,0,Melbourne,7,1,2,8,112,10
8,2,Australia,Sri Lanka,1.3,0,0,Melbourne,7,1,3,9,111,10
9,2,Australia,Sri Lanka,1.4,0,0,Melbourne,7,1,4,10,110,10
10,2,Australia,Sri Lanka,1.5,4,0,Melbourne,11,1,5,11,109,10
11,2,Australia,Sri Lanka,1.6,2,0,Melbourne,13,1,6,12,108,10

In [81]:
output['crr'] = round((output['current_score']*6)/output['balls_bowled'],2)

In [82]:
output.head(12)

,match_id,batting_team,bowling_team,ball,runs,player_dismissed,city,current_score,over,ball_no,balls_bowled,balls_left,wickets_left,crr
0,2,Australia,Sri Lanka,0.1,0,0,Melbourne,0,0,1,1,119,10,0.00
1,2,Australia,Sri Lanka,0.2,0,0,Melbourne,0,0,2,2,118,10,0.00
2,2,Australia,Sri Lanka,0.3,1,0,Melbourne,1,0,3,3,117,10,2.00
3,2,Australia,Sri Lanka,0.4,2,0,Melbourne,3,0,4,4,116,10,4.50
4,2,Australia,Sri Lanka,0.5,0,0,Melbourne,3,0,5,5,115,10,3.60
5,2,Australia,Sri Lanka,0.6,3,0,Melbourne,6,0,6,6,114,10,6.00
6,2,Australia,Sri Lanka,1.1,0,0,Melbourne,6,1,1,7,113,10,5.14
7,2,Australia,Sri Lanka,1.2,1,0,Melbourne,7,1,2,8,112,10,5.25
8,2,Australia,Sri Lanka,1.3,0,0,Melbourne,7,1,3,9,111,10,4.67
9,2,Australia,Sri Lanka,1.4,0,0,Melbourne,7,1,4,10,110,10,4.20
10,2,Australia,Sri Lanka,1.5,4,0,Melbourne,11,1,5,11,109,10,6.00
11,2,Australia,Sri Lanka,1.6,2,0,Melbourne,13,1,6,12,108,10,6.50

In [83]:
groups = output.groupby('match_id')

In [84]:
match_ids = output['match_id'].unique()
last_five = []
for id in match_ids:
    last_five.extend(groups.get_group(id).rolling(window=30)['runs'].sum().values.tolist())

In [85]:
output['last_five'] = last_five

In [86]:
output.head(12)

,match_id,batting_team,bowling_team,ball,runs,player_dismissed,city,current_score,over,ball_no,balls_bowled,balls_left,wickets_left,crr,last_five
0,2,Australia,Sri Lanka,0.1,0,0,Melbourne,0,0,1,1,119,10,0.00,NaN
1,2,Australia,Sri Lanka,0.2,0,0,Melbourne,0,0,2,2,118,10,0.00,NaN
2,2,Australia,Sri Lanka,0.3,1,0,Melbourne,1,0,3,3,117,10,2.00,NaN
3,2,Australia,Sri Lanka,0.4,2,0,Melbourne,3,0,4,4,116,10,4.50,NaN
4,2,Australia,Sri Lanka,0.5,0,0,Melbourne,3,0,5,5,115,10,3.60,NaN
5,2,Australia,Sri Lanka,0.6,3,0,Melbourne,6,0,6,6,114,10,6.00,NaN
6,2,Australia,Sri Lanka,1.1,0,0,Melbourne,6,1,1,7,113,10,5.14,NaN
7,2,Australia,Sri Lanka,1.2,1,0,Melbourne,7,1,2,8,112,10,5.25,NaN
8,2,Australia,Sri Lanka,1.3,0,0,Melbourne,7,1,3,9,111,10,4.67,NaN
9,2,Australia,Sri Lanka,1.4,0,0,Melbourne,7,1,4,10,110,10,4.20,NaN
10,2,Australia,Sri Lanka,1.5,4,0,Melbourne,11,1,5,11,109,10,6.00,NaN
11,2,Australia,Sri Lanka,1.6,2,0,Melbourne,13,1,6,12,108,10,6.50,NaN

In [87]:
total_df = output.groupby('match_id').sum()['runs'].reset_index()
output = output.merge(total_df,on='match_id')

In [88]:
output.shape

(163819, 16)

In [89]:
# final_df = output[['match_id','batting_team','bowling_team','runs_x','current_score','balls_bowled','wickets_left','crr','city','runs_y']]

In [90]:
final_df = output[['batting_team','bowling_team','city','current_score','balls_left','wickets_left','crr','last_five','runs_y']]

In [91]:
final_df.dropna(inplace=True)

C:\Users\srika\AppData\Local\Temp\ipykernel_18604\2709626079.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_df.dropna(inplace=True)

In [92]:
final_df.head()

,batting_team,bowling_team,city,current_score,balls_left,wickets_left,crr,last_five,runs_y
29,Australia,Sri Lanka,Melbourne,43,90,10,8.60,43.0,168
30,Australia,Sri Lanka,Melbourne,44,89,10,8.52,44.0,168
31,Australia,Sri Lanka,Melbourne,45,88,10,8.44,45.0,168
32,Australia,Sri Lanka,Melbourne,45,87,10,8.18,44.0,168
33,Australia,Sri Lanka,Melbourne,45,86,10,7.94,42.0,168

In [93]:
final_df.shape

(124652, 9)

In [94]:
final_df = final_df.sample(final_df.shape[0])

In [95]:
final_df.head()

,batting_team,bowling_team,city,current_score,balls_left,wickets_left,crr,last_five,runs_y
36050,Nepal,Netherlands,Kirtipur,67,75,9,8.93,36.0,238
151117,South Africa,West Indies,Durban,115,39,9,8.52,25.0,195
142156,Sri Lanka,Bangladesh,Pallekele,68,80,9,10.20,47.0,198
112231,Sri Lanka,New Zealand,Auckland,87,28,2,5.67,29.0,115
125844,West Indies,India,Barbados,153,11,8,8.42,57.0,169

In [97]:
final_df.to_csv('dataset_level3.csv',index=False)

In [98]:
final_df = pd.read_csv('dataset_level3.csv')

In [99]:
final_df = final_df.sample(final_df.shape[0])

In [101]:
final_df.shape

(124652, 9)

# 3) Dagshub MLFlow Setup

In [102]:
import mlflow
import dagshub

mlflow.set_tracking_uri('https://dagshub.com/srikara202/Cricket-T20-Score-Predictor-MLOps.mlflow')
dagshub.init(repo_owner='srikara202', repo_name='Cricket-T20-Score-Predictor-MLOps', mlflow=True)

mlflow.set_experiment('XGBoost Regressor Pipeline')

c:\Users\srika\anaconda3\envs\atlas310\lib\site-packages\mlflow\utils\requirements_utils.py:20: UserWarning: pkg_resources is deprecated as an API. See https://setuptools.pypa.io/en/latest/pkg_resources.html. The pkg_resources package is slated for removal as early as 2025-11-30. Refrain from using this package or pin to Setuptools<81.
  import pkg_resources  # noqa: TID251

Accessing as srikara202

Initialized MLflow to track repo "srikara202/Cricket-T20-Score-Predictor-MLOps"

Repository srikara202/Cricket-T20-Score-Predictor-MLOps initialized!

<Experiment: artifact_location='mlflow-artifacts:/fe7075ca132b4da4a90741c5f4b57318', creation_time=1752417703229, experiment_id='0', last_update_time=1752417703229, lifecycle_stage='active', name='XGBoost Regressor Pipeline', tags={}>

# 4) Train Test Split

In [103]:
X = final_df.drop(columns=['runs_y'])
y = final_df['runs_y']
from sklearn.model_selection import train_test_split
ts = 0.5
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=ts,random_state=1)

# 4) Model Training, Validation, Evaluation

In [104]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler
from xgboost import XGBRegressor
from sklearn.metrics import r2_score,mean_absolute_error,root_mean_squared_error

In [105]:
trf = ColumnTransformer([
    ('trf',OneHotEncoder(sparse_output=False,handle_unknown="ignore"),['batting_team','bowling_team','city'])
]
,remainder='passthrough')

pipe = Pipeline(steps=[
    ('step1',trf),
    ('step2',StandardScaler()),
    ('step3',XGBRegressor(n_estimators=1000,learning_rate=0.1,max_depth=10,random_state=1))
])

In [106]:
from sklearn.model_selection import KFold, cross_validate

# ---------------------------------------------------
# 2) Standard K‑Fold Cross‑Validation
# ---------------------------------------------------
kf = KFold(n_splits=5, shuffle=True, random_state=42)
scoring = {
    'r2': 'r2',
    'mse': 'neg_mean_squared_error',
    'mae': 'neg_mean_absolute_error'
}

cv_results = cross_validate(pipe, X_train, y_train, cv=kf, scoring=scoring)

r2_scores   = cv_results['test_r2']
rmse_scores = np.sqrt(-cv_results['test_mse'])
mae_scores  = -cv_results['test_mae']

print(f"K-Fold CV R²:   {r2_scores.mean():.4f} ± {r2_scores.std():.4f}")
print(f"K-Fold CV RMSE: {rmse_scores.mean():.4f} ± {rmse_scores.std():.4f}")
print(f"K-Fold CV MAE:  {mae_scores.mean():.4f} ± {mae_scores.std():.4f}")

K-Fold CV R²:   0.9780 ± 0.0012
K-Fold CV RMSE: 5.2722 ± 0.1624
K-Fold CV MAE:  2.8960 ± 0.0268

In [107]:
pipe.fit(X_train,y_train)
y_pred = pipe.predict(X_test)
y_train_pred = pipe.predict(X_train)
print(r2_score(y_train,y_train_pred))
print(r2_score(y_test,y_pred))
print(mean_absolute_error(y_test,y_pred))
print(root_mean_squared_error(y_test, y_pred))

0.9980273842811584
0.9819315075874329
2.6308012251347006
4.804611496536231

In [108]:
teams

['India',
 'Pakistan',
 'New Zealand',
 'Sri Lanka',
 'South Africa',
 'West Indies',
 'Bangladesh',
 'England',
 'Australia',
 'Zimbabwe',
 'Ireland',
 'United Arab Emirates',
 'Malaysia',
 'Netherlands',
 'Hong Kong',
 'Uganda',
 'Nigeria',
 'Scotland',
 'Canada',
 'Nepal',
 'Kenya',
 'Bahrain',
 'Oman',
 'Namibia',
 'Malta',
 'Rwanda',
 'Japan',
 'Singapore']

In [109]:
X_new = pd.DataFrame([{
    'batting_team':  'India',
    'bowling_team':  'England',
    'city':          'Pune',
    'current_score': 72,
    'balls_left':    60,
    'wickets_left':  6,
    'crr':            7.2,
    'last_five':     35
}])

pipe.predict(X_new)[0]

179.42152

In [271]:
'Rajkot' in eligible_cities

True

# 5) Experiment Tracking using Dagshub and MLFlow

In [ ]:
# import logging
# import os
# import time
# import shutil
# from sklearn.compose import ColumnTransformer
# from sklearn.preprocessing import OneHotEncoder
# from sklearn.pipeline import Pipeline
# from sklearn.preprocessing import StandardScaler
# from sklearn.ensemble import RandomForestRegressor
# from xgboost import XGBRegressor
# from sklearn.metrics import r2_score,mean_absolute_error,root_mean_squared_error

# # Configure logging
# logging.basicConfig(level=logging.INFO, format="%(asctime)s - %(levelname)s - %(message)s")

# logging.info("Starting MLflow run...")

# with mlflow.start_run():
#     start_time = time.time()
    
#     try:
#         logging.info("Logging preprocessing parameters...")
#         n_estimators=700
#         learning_rate=0.3
#         max_depth=14
#         mlflow.log_param("test_size", ts)

#         logging.info("Initializing XGBoost Regression model with Column Transformer...")
#         trf = ColumnTransformer([
#             ('trf',OneHotEncoder(sparse_output=False,drop='first'),['batting_team','bowling_team','city'])
#         ]
#         ,remainder='passthrough')
#         model = Pipeline(steps=[
#             ('step1',trf),
#             ('step2',StandardScaler()),
#             ('step3',XGBRegressor(n_estimators=n_estimators,learning_rate=learning_rate,max_depth=max_depth,random_state=1))
#         ])
        

#         logging.info("Fitting the model...")
#         model.fit(X_train, y_train)
#         logging.info("Model training complete.")

#         logging.info("Logging model parameters...")
#         mlflow.log_param("model", "Logistic Regression")
#         mlflow.log_param("n_estimators", n_estimators)
#         mlflow.log_param("learning_rate",learning_rate)
#         mlflow.log_param("max_depth", max_depth)

#         logging.info("Making predictions...")
#         y_pred = model.predict(X_test)

#         logging.info("Calculating evaluation metrics...")
#         r2s = r2_score(y_test,y_pred)
#         mae = mean_absolute_error(y_test,y_pred)
#         rmse = root_mean_squared_error(y_test,y_pred)

#         logging.info("Logging evaluation metrics...")
#         mlflow.log_metric("r2_score", r2s)
#         mlflow.log_metric("mean_absolute_error",mae)
#         mlflow.log_metric("root_mean_squared_error",rmse)
        
#         logging.info("Saving and logging the model...")
#         # If it’s there already, blow it away
#         model_dir = "model_dir"
#         if os.path.exists(model_dir):
#             shutil.rmtree(model_dir)
#         # Now save + upload
#         mlflow.sklearn.save_model(sk_model=model, path=model_dir)
#         mlflow.log_artifacts(model_dir, artifact_path="model")

#         # Log execution time
#         end_time = time.time()
#         logging.info(f"Model training and logging completed in {end_time - start_time:.2f} seconds.")

#         # Save and log the notebook
#         # notebook_path = "exp1_baseline_model.ipynb"
#         # logging.info("Executing Jupyter Notebook. This may take a while...")
#         # os.system(f"jupyter nbconvert --to notebook --execute --inplace {notebook_path}")
#         # mlflow.log_artifact(notebook_path)

#         # logging.info("Notebook execution and logging complete.")

#         # Print the results for verification
#         logging.info(f"r2_score: {r2s}")
#         logging.info(f"mean_absolute_error: {mae}")
#         logging.info(f"root_mean_squared_error: {rmse}")

#     except Exception as e:
#         logging.error(f"An error occurred: {e}", exc_info=True)

2025-07-14 03:27:07,906 - INFO - Starting MLflow run...
2025-07-14 03:27:08,238 - INFO - Logging preprocessing parameters...
2025-07-14 03:27:08,548 - INFO - Initializing XGBoost Regression model with Column Transformer...
2025-07-14 03:27:08,554 - INFO - Fitting the model...
2025-07-14 03:27:09,535 - INFO - Model training complete.
2025-07-14 03:27:09,537 - INFO - Logging model parameters...
2025-07-14 03:27:10,693 - INFO - Making predictions...
2025-07-14 03:27:10,706 - INFO - Calculating evaluation metrics...
2025-07-14 03:27:10,711 - INFO - Logging evaluation metrics...
2025-07-14 03:27:13,294 - INFO - Saving and logging the model...
2025-07-14 03:27:24,209 - INFO - Model training and logging completed in 15.97 seconds.
2025-07-14 03:27:24,210 - INFO - r2_score: 0.982562243938446
2025-07-14 03:27:24,211 - INFO - mean_absolute_error: 0.7808371782302856
2025-07-14 03:27:24,211 - INFO - root_mean_squared_error: 3.682307243347168

🏃 View run adaptable-robin-357 at: https://dagshub.com/srikara202/Cricket-T20-Score-Predictor-MLOps.mlflow/#/experiments/0/runs/86e4cd81652c404981ad6bd3eddfb2bb
🧪 View experiment at: https://dagshub.com/srikara202/Cricket-T20-Score-Predictor-MLOps.mlflow/#/experiments/0

In [ ]:
# import pandas as pd
# from sklearn.model_selection import GridSearchCV, KFold
# from sklearn.pipeline import Pipeline
# from sklearn.compose import ColumnTransformer
# from sklearn.preprocessing import OneHotEncoder, StandardScaler
# from xgboost import XGBRegressor

# # ─────────────────────────────────────────────────────────────────────────────
# # 1. LOAD / PREP YOUR DATA
# # ─────────────────────────────────────────────────────────────────────────────
# # (Replace with your own data-loading code)
# # df = pd.read_csv("…")
# X = X_train
# y = y_train

# # ─────────────────────────────────────────────────────────────────────────────
# # 2. DEFINE FEATURE GROUPS
# # ─────────────────────────────────────────────────────────────────────────────
# cat_cols = ['batting_team', 'bowling_team', 'city']
# num_cols = ['current_score', 'balls_left', 'wickets_left', 'crr', 'last_five']

# # ─────────────────────────────────────────────────────────────────────────────
# # 3. BUILD PREPROCESSOR + PIPELINE
# # ─────────────────────────────────────────────────────────────────────────────
# preprocessor = ColumnTransformer([
#     ('onehot', OneHotEncoder(handle_unknown='ignore', sparse_output=False), cat_cols),
#     ('scale',  StandardScaler(), num_cols)
# ])

# pipe = Pipeline([
#     ('preprocess', preprocessor),
#     ('model',      XGBRegressor(objective='reg:squarederror', random_state=1))
# ])

# # ─────────────────────────────────────────────────────────────────────────────
# # 4. SET UP PARAM GRID FOR XGBOOST
# # ─────────────────────────────────────────────────────────────────────────────
# param_grid = {
#     # tree booster
#     'n_estimators':    [100, 300, 600, 1000, 1200, 1500],
#     'max_depth':       [3, 6, 10, 12, 15, 18],
#     'learning_rate':   [0.01, 0.05, 0.1, 0.2],
# }

# # ─────────────────────────────────────────────────────────────────────────────
# # 5. CONFIGURE CROSS-VALIDATION
# # ─────────────────────────────────────────────────────────────────────────────
# cv = KFold(n_splits=5, shuffle=True, random_state=1)

# grid = GridSearchCV(
#     estimator   = pipe,
#     param_grid  = param_grid,
#     cv          = cv,
#     scoring     = 'neg_root_mean_squared_error',  # returns –RMSE
#     n_jobs      = -1,
#     verbose     = 2
# )

# # ─────────────────────────────────────────────────────────────────────────────
# # 6. RUN THE GRID SEARCH
# # ─────────────────────────────────────────────────────────────────────────────
# grid.fit(X, y)

# # ─────────────────────────────────────────────────────────────────────────────
# # 7. RESULTS
# # ─────────────────────────────────────────────────────────────────────────────
# best_rmse   = -grid.best_score_
# best_params =  grid.best_params_

# print(f"▶︎ Best CV RMSE: {best_rmse:.3f}")
# print("▶︎ Best parameters:")
# for p, v in best_params.items():
#     print(f"   • {p}: {v}")

Fitting 5 folds for each of 144 candidates, totalling 720 fits
▶︎ Best CV RMSE: 2.225
▶︎ Best parameters:
   • model__learning_rate: 0.05
   • model__max_depth: 6
   • model__n_estimators: 1500

In [ ]:
import logging, os, shutil, time
import mlflow
import numpy as np
import pandas as pd

from sklearn.model_selection    import train_test_split, GridSearchCV, KFold
from sklearn.compose            import ColumnTransformer
from sklearn.preprocessing      import OneHotEncoder, StandardScaler
from sklearn.pipeline           import Pipeline
from xgboost                    import XGBRegressor
from sklearn.metrics            import r2_score, mean_absolute_error, mean_squared_error


mlflow.set_experiment('XGBoost Regressor CV')

# ─────────────────────────────────────────────────────────────────────────────
# 0. CONFIGURE LOGGING
# ─────────────────────────────────────────────────────────────────────────────
logging.basicConfig(level=logging.INFO, format="%(asctime)s %(levelname)s %(message)s")

# ─────────────────────────────────────────────────────────────────────────────
# 1. LOAD YOUR DATA
# ─────────────────────────────────────────────────────────────────────────────
# assume df is your DataFrame and 'runs_y' is the target
# df = pd.read_csv("…")
X = final_df.drop(columns=['runs_y'])
y = final_df['runs_y']

# ─────────────────────────────────────────────────────────────────────────────
# 2. SPLIT TRAIN / TEST
# ─────────────────────────────────────────────────────────────────────────────
test_size = 0.2
random_state = 1
logging.info(f"Splitting data, test_size={test_size}")
X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=test_size, random_state=random_state
)

# ─────────────────────────────────────────────────────────────────────────────
# 3. DEFINE PREPROCESSOR + PIPELINE
# ─────────────────────────────────────────────────────────────────────────────
cat_cols = ['batting_team', 'bowling_team', 'city']
num_cols = ['current_score', 'balls_left', 'wickets_left', 'crr', 'last_five']

preprocessor = ColumnTransformer([
    ('onehot', OneHotEncoder(handle_unknown='ignore', sparse_output=False), cat_cols),
    ('scale',  StandardScaler(),                      num_cols)
])

pipe = Pipeline([
    ('preprocess', preprocessor),
    ('model',      XGBRegressor(
        objective='reg:squarederror',
        random_state=random_state
    ))
])

# ─────────────────────────────────────────────────────────────────────────────
# 4. SET UP PARAM GRID
# ─────────────────────────────────────────────────────────────────────────────
param_grid = {
    'model__n_estimators':    [200,400,600,800,1000],
    'model__max_depth':       [6,8,10,12,14,16],
    'model__learning_rate':   [0.01,0.05,0.1,0.2]
}

# ─────────────────────────────────────────────────────────────────────────────
# 5. GRIDSEARCHCV with 5-fold CV
# ─────────────────────────────────────────────────────────────────────────────
cv = KFold(n_splits=5, shuffle=True, random_state=random_state)

grid = GridSearchCV(
    estimator  = pipe,
    param_grid = param_grid,
    cv         = cv,
    scoring    = 'neg_root_mean_squared_error',
    n_jobs     = -1,
    verbose    = 2,
)

# ─────────────────────────────────────────────────────────────────────────────
# 6. MLflow RUN
# ─────────────────────────────────────────────────────────────────────────────
with mlflow.start_run():
    start_time = time.time()
    # log basic run params
    mlflow.log_param("test_size",    test_size)
    mlflow.log_param("model_name",  "XGBRegressor")

    logging.info("Starting GridSearchCV …")
    grid.fit(X_train, y_train)
    logging.info("GridSearchCV complete.")

    # log every CV combo’s mean & std RMSE
    cv_res = grid.cv_results_
    for i, (mean_score, std_score, params) in enumerate(
        zip(cv_res['mean_test_score'], cv_res['std_test_score'], cv_res['params'])
    ):
        mean_rmse = -mean_score
        mlflow.log_metric(f"cv_{i}_mean_rmse", mean_rmse)
        mlflow.log_metric(f"cv_{i}_std_rmse",  std_score)
        # also log the param values for this combo
        for p_name, p_val in params.items():
            mlflow.log_param(f"cv_{i}_{p_name}", p_val)

    # best CV results
    best_rmse   = -grid.best_score_
    best_params =  grid.best_params_
    mlflow.log_metric("cv_best_rmse", best_rmse)
    for p_name, p_val in best_params.items():
        mlflow.log_param(f"best_{p_name}", p_val)

    logging.info(f"Best CV RMSE = {best_rmse:.4f}")
    logging.info(f"Best params   = {best_params}")

    # ─────────────────────────────────────────────────────────────────────────
    # 7. EVALUATE ON HELD-OUT TEST SET
    # ─────────────────────────────────────────────────────────────────────────
    logging.info("Evaluating best model on test set …")
    best_model = grid.best_estimator_
    y_pred     = best_model.predict(X_test)

    r2   = r2_score(y_test, y_pred)
    mae  = mean_absolute_error(y_test, y_pred)
    rmse = np.sqrt(mean_squared_error(y_test, y_pred))

    mlflow.log_metric("test_r2_score",                r2)
    mlflow.log_metric("test_mean_absolute_error",     mae)
    mlflow.log_metric("test_root_mean_squared_error", rmse)

    logging.info(f"Test R²   = {r2:.4f}")
    logging.info(f"Test MAE  = {mae:.4f}")
    logging.info(f"Test RMSE = {rmse:.4f}")

    # ─────────────────────────────────────────────────────────────────────────
    # 8. SAVE & LOG FINAL MODEL
    # ─────────────────────────────────────────────────────────────────────────
    model_dir = "xgb_cv_model"
    if os.path.exists(model_dir):
        shutil.rmtree(model_dir)
    mlflow.sklearn.save_model(best_model, path=model_dir)
    mlflow.log_artifacts(model_dir, artifact_path="model")

    elapsed = time.time() - start_time
    logging.info(f"Run completed in {elapsed:.1f}s")

2025-07-19 14:06:40,964 INFO Splitting data, test_size=0.2
2025-07-19 14:06:41,869 INFO Starting GridSearchCV …

Fitting 5 folds for each of 120 candidates, totalling 600 fits

2025-07-19 14:39:31,426 INFO GridSearchCV complete.
2025-07-19 14:39:32,722 INFO Best CV RMSE = 4.2029
2025-07-19 14:39:32,724 INFO Best params   = {'model__learning_rate': 0.1, 'model__max_depth': 10, 'model__n_estimators': 1000}
2025-07-19 14:39:32,725 INFO Evaluating best model on test set …
2025-07-19 14:39:33,782 INFO Test R²   = 0.9888
2025-07-19 14:39:33,784 INFO Test MAE  = 1.7872
2025-07-19 14:39:33,785 INFO Test RMSE = 3.5708
c:\Users\srika\anaconda3\envs\atlas310\lib\site-packages\_distutils_hack\__init__.py:15: UserWarning: Distutils was imported before Setuptools, but importing Setuptools also replaces the `distutils` module in `sys.modules`. This may lead to undesirable behaviors or errors. To avoid these issues, avoid using distutils directly, ensure that setuptools is installed in the traditional way (e.g. not an editable install), and/or make sure that setuptools is always imported before distutils.
  warnings.warn(
c:\Users\srika\anaconda3\envs\atlas310\lib\site-packages\_distutils_hack\__init__.py:30: UserWarning: Setuptools is replacing distutils. Support for replacing an already imported distutils is deprecated. In the future, this condition will fail. Register concerns at https://github.com/pypa/setuptools/issues/new?template=distutils-deprecation.yml
  warnings.warn(
2025-07-19 14:39:51,971 INFO Run completed in 1990.7s
2025/07/19 14:39:55 INFO mlflow.tracking._tracking_service.client: 🏃 View run skillful-stork-224 at: https://dagshub.com/srikara202/Cricket-T20-Score-Predictor-MLOps.mlflow/#/experiments/3/runs/54a73af61edb4a63b827be84aee03af1.
2025/07/19 14:39:55 INFO mlflow.tracking._tracking_service.client: 🧪 View experiment at: https://dagshub.com/srikara202/Cricket-T20-Score-Predictor-MLOps.mlflow/#/experiments/3.

In [ ]:
# import pandas as pd
# from sklearn.model_selection import GridSearchCV, KFold
# from sklearn.pipeline import Pipeline
# from sklearn.compose import ColumnTransformer
# from sklearn.preprocessing import OneHotEncoder, StandardScaler

# from xgboost import XGBRegressor
# from lightgbm import LGBMRegressor
# from catboost import CatBoostRegressor
# from sklearn.ensemble import HistGradientBoostingRegressor, ExtraTreesRegressor

# mlflow.set_experiment('Cross Validation')

# # ─────────────────────────────────────────────────────────────────────────────
# # 1. LOAD YOUR DATA
# # ─────────────────────────────────────────────────────────────────────────────
# # assume `df` is your DataFrame and 'runs_y' is the target
# # df = pd.read_csv("…")
# X = X_train
# y = X_test

# # ─────────────────────────────────────────────────────────────────────────────
# # 2. FEATURE LISTS
# # ─────────────────────────────────────────────────────────────────────────────
# cat_cols = ['batting_team', 'bowling_team', 'city']
# num_cols = ['current_score', 'balls_left', 'wickets_left', 'crr', 'last_five']

# # ─────────────────────────────────────────────────────────────────────────────
# # 3. PREPROCESSOR FOR ONE-HOT + SCALE
# # ─────────────────────────────────────────────────────────────────────────────
# preprocessor = ColumnTransformer([
#     ('onehot', OneHotEncoder(handle_unknown='ignore'), cat_cols),
#     ('scale', StandardScaler(), num_cols)
# ])

# # ─────────────────────────────────────────────────────────────────────────────
# # 4. DEFINE PIPELINES + PARAM-GRIDS
# # ─────────────────────────────────────────────────────────────────────────────
# models = {
#     'xgb': {
#         'pipeline': Pipeline([
#             ('preprocess', preprocessor),
#             ('model', XGBRegressor(objective='reg:squarederror', random_state=1))
#         ]),
#         'params': {
#             'model__n_estimators': [100, 500, 1000],
#             'model__learning_rate': [0.01, 0.1, 0.2],
#             'model__max_depth': [3, 6, 12]
#         }
#     },
#     'lgbm': {
#         'pipeline': Pipeline([
#             ('preprocess', preprocessor),
#             ('model', LGBMRegressor(random_state=1))
#         ]),
#         'params': {
#             'model__n_estimators': [100, 500, 1000],
#             'model__learning_rate': [0.01, 0.05, 0.1],
#             'model__max_depth': [-1, 6, 12]
#         }
#     },
#     'cat': {
#         # CatBoost handles cats natively → no OHE or scaling
#         'pipeline': Pipeline([
#             ('model', CatBoostRegressor(verbose=0, random_state=1))
#         ]),
#         'params': {
#             'model__iterations':  [500, 1000],
#             'model__learning_rate': [0.03, 0.1],
#             'model__depth': [6, 8, 10]
#         },
#         'fit_params': {
#             'model__cat_features': cat_cols
#         }
#     },
#     'histgb': {
#         'pipeline': Pipeline([
#             ('preprocess', preprocessor),
#             ('model', HistGradientBoostingRegressor(random_state=1))
#         ]),
#         'params': {
#             'model__max_iter':       [100, 300],
#             'model__max_depth':      [None, 6, 12],
#             'model__learning_rate':  [0.01, 0.1]
#         }
#     },
#     'extratree': {
#         # trees → no scaling; only OHE for cats
#         'pipeline': Pipeline([
#             ('preprocess', ColumnTransformer([
#                 ('onehot', OneHotEncoder(handle_unknown='ignore'), cat_cols)
#             ], remainder='passthrough')),
#             ('model', ExtraTreesRegressor(random_state=1))
#         ]),
#         'params': {
#             'model__n_estimators':   [100, 500, 1000],
#             'model__max_features':   ['auto','sqrt','log2']
#         }
#     }
# }

# # ─────────────────────────────────────────────────────────────────────────────
# # 5. RUN GRID-SEARCH CV
# # ─────────────────────────────────────────────────────────────────────────────
# cv = KFold(n_splits=5, shuffle=True, random_state=1)
# results = {}

# for name, m in models.items():
#     print(f"\n▶︎ Running GridSearchCV for {name} …")
#     gs = GridSearchCV(
#         estimator   = m['pipeline'],
#         param_grid  = m['params'],
#         cv          = cv,
#         scoring     = 'neg_root_mean_squared_error',
#         n_jobs      = -1,
#         verbose     = 2
#     )
#     # pass cat_features for CatBoost only
#     if 'fit_params' in m:
#         gs.fit(X, y, **m['fit_params'])
#     else:
#         gs.fit(X, y)

#     best_rmse     = -gs.best_score_
#     best_params   = gs.best_params_
#     results[name] = (best_rmse, best_params)

#     print(f"✔ {name:8s}  best RMSE = {best_rmse:.3f}")
#     print("  params →", best_params)

# # ─────────────────────────────────────────────────────────────────────────────
# # 6. OPTIONAL: SUMMARY TABLE
# # ─────────────────────────────────────────────────────────────────────────────
# summary = pd.DataFrame.from_dict(
#     {k: {'rmse': v[0], 'params': v[1]} for k, v in results.items()},
#     orient='index'
# ).sort_values('rmse')
# print("\nAll models ranked by best RMSE:\n", summary)